<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="dynaCache" type="DynaCache.DynaCacheSection, DynaCache"/>
  </configSections>

  <dynaCache>
	<cacheDurations>
	  <add name="short" duration="00:00:01"/>
	  <add name="long" duration="00:01:00"/>
	</cacheDurations>
  </dynaCache>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
